[submodule "pkgs/googletest"]
	path = pkgs/googletest
	url = https://github.com/google/googletest.git
[submodule "pkgs/gperftools.build"]
	path = pkgs/gperftools.build
	url = https://github.com/ffoulkes/gperftools.build.git
[submodule "pkgs/judy"]
	path = pkgs/judy
	url = https://github.com/ffoulkes/judy.git
[submodule "pkgs/targetsys"]
	path = pkgs/targetsys
	url = https://github.com/ffoulkes/target-syslibs.git
[submodule "pkgs/targetutils"]
	path = pkgs/targetutils
	url = https://github.com/ffoulkes/target-utils.git
[submodule "pkgs/tommyds"]
	path = pkgs/tommyds
	url = https://github.com/ffoulkes/tommyds.git
[submodule "pkgs/zlog"]
	path = pkgs/zlog
	url = https://github.com/ffoulkes/zlog.git
[submodule "pkgs/cJSON"]
	path = pkgs/cJSON
	url = https://github.com/ffoulkes/cJSON.git
[submodule "pkgs/xxHash"]
	path = pkgs/xxHash
	url = https://github.com/ffoulkes/xxHash.git
[submodule "pkgs/tdi"]
	path = pkgs/tdi
	url = https://github.com/ffoulkes/tdi.git
	branch = ganga-dev
